<aside [ngClass]="cartVisibility() ? 'cart show' : 'cart'">
  <h2>Carrito ({{ totalQuantity() }})</h2>
  <button class="close" (click)="handleCartClick()">Close</button>
  <section class="cart-products">
    @for(product of cart().values(); track product._id) {
    <cart-product [product]="product" />
    }
  </section>
  <div class="details">
    <h3>
      Total <span>{{ totalPrice() | currency }}</span>
    </h3>
    <button>
    <a routerLink="/checkout" class="checkout">Checkout</a>
  </button>
  </div>
</aside>
