<main>
  <section id="login">
    <div class="container">
      <div class="section-text-combo">
        <h2>Crear una cuenta</h2>
        <p>
          Únete a nuestra comunidad. Regístrate con tu información y comienza a
          disfrutar de nuestras ofertas exclusivas.
        </p>
      </div>
      <form
        [formGroup]="registerForm"
        (submit)="onSubmit()"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="firstname" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            formControlName="firstname"
            placeholder="Introduce tu nombre"
          />
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            formControlName="lastname"
            placeholder="Introduce tu apellido"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Introduce tu email"
          />
        </div>
        <div class="mb-3">
          <label for="avatar" class="form-label">Avatar</label>
          <input
            type="file"
            class="form-control"
            id="avatar"
            formControlName="avatar"
            (change)="onFileChange($event)"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Introduce tu contraseña"
          />
        </div>

        <!-- Submit and Cancel Buttons -->
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <button type="button" class="btn">Cancelar</button>
      </form>
    </div>
  </section>
</main>
