<main>
  <section class="hero"></section>
  <section class="hero"></section>
  <section class="hero"></section>
  <section class="hero"></section>
  <section class="product-list">
    @for(product of products(); track product._id) {
    <article class="product">
      <a [routerLink]="['/products/', product._id]">
        <figure>
          <img [src]="product.images" [alt]="product.nombre" />
          <figcaption>
            <h2>{{ product.nombre }}</h2>
            <h3>{{ product.precio | currency }}</h3>
          </figcaption>
        </figure>
      </a>
      <button class="add-cart" (click)="addToCart(products)">
        Agregar al carrito
      </button>
    </article>
    }
  </section>
  <app-producto-destacado></app-producto-destacado>
</main>
