<main>
  <section class="hero"></section>
  <section class="product-list">
    <article *ngFor="let product of products(); trackBy: trackByProductId" class="product">
      <a [routerLink]="['/products/', product._id]">
        <figure>
          <img [src]="product.images[0]" [alt]="product.nombre" />
          <figcaption>
            <h2>{{ product.nombre }}</h2>
            <h3>{{ product.precio | currency }}</h3>
          </figcaption>
        </figure>
      </a>
      <button class="add-cart" (click)="addToCart(product)">
        Agregar al carrito
      </button>
    </article>
  </section>
  <app-producto-destacado></app-producto-destacado>
</main>
