<main class="checkout-page">
  <!-- Payment Form -->
  <section class="payment">
    <h2>Detalles del pago</h2>
    <form (submit)="onSubmit()" [formGroup]="paymentForm">
      <div class="formGroup">
        <label for="fullName">Nombre Completo</label>
        <input id="fullName" type="text" formControlName="fullName" />
      </div>
      <div class="formGroup">
        <label for="email">Correo Electrónico</label>
        <input id="email" type="email" formControlName="email" />
      </div>
      <div class="formGroup">
        <label for="address">Dirección</label>
        <input id="address" type="text" formControlName="address" />
      </div>
      <div class="formGroup">
        <label for="paymentMethod">Método de Pago</label>
        <select id="paymentMethod" formControlName="paymentMethod">
          <option value="credit-card">Tarjeta de Crédito</option>
          <option value="paypal">PayPal</option>
        </select>
      </div>
      <button type="submit" [disabled]="paymentForm.invalid">Realizar compra</button>
    </form>
  </section>

  <!-- Cart Summary -->
  <section class="cart">
    <h2>Carrito</h2>
    <ul>
      <li *ngFor="let product of cart()">
        <cart-product [product]="product"></cart-product>
      </li>
    </ul>
  </section>
</main>
